{% extends 'base.html' %}

{% load static %}

{% block title %}

{% endblock title %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="{% url 'index.html' %}"><i class="fa fa-home"></i> Home</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Faq Section Begin -->
    <div class="faq-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="faq-accordin">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading active">
                                    <a class="active" data-toggle="collapse" data-target="#collapseOne">
                                        Description?
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Bienvenue dans notre boutique en ligne ! Nous sommes fiers de vous proposer une large sélection de produits de qualité pour répondre à tous vos besoins. Que vous cherchiez des vêtements tendance, des accessoires de mode, des articles de décoration ou des produits électroniques innovants, nous avons tout ce qu'il vous faut.

                                            Chez nous, vous pouvez compter sur une expérience de shopping en ligne facile et agréable, avec une navigation intuitive et des descriptions de produits détaillées pour vous aider à faire les meilleurs choix. De plus, nous offrons une livraison rapide et des retours faciles, afin que vous puissiez acheter en toute confiance.
                                            
                                            Nous sommes passionnés par la qualité de nos produits et le service que nous offrons à nos clients. Notre équipe est là pour répondre à toutes vos questions et vous aider à trouver le produit parfait pour vous. Alors n'hésitez plus et venez découvrir notre boutique en ligne dès maintenant !</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">
                                        Qui somme nous?
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Bienvenue dans notre boutique en ligne, créée par notre équipe de passionnés de la mode et de la technologie. Nous sommes tous animés par une même passion pour la mode et un fort intérêt pour les innovations technologiques qui nous permettent de créer une expérience de shopping en ligne unique pour nos clients.

                                            Ensemble, nous choisissons les meilleurs produits de qualité, en nous inspirant des dernières tendances et des nouveaux styles, pour proposer une sélection complète de produits élégants et actuels. Nous nous engageons à offrir une expérience de shopping en ligne agréable et facile, avec une navigation intuitive et des descriptions de produits détaillées pour vous aider à faire les meilleurs choix.
                                            
                                            En tant qu'équipe, nous sommes des experts en technologie et en e-commerce, responsables de la création et de la maintenance de notre boutique en ligne. Nous travaillons ensemble pour nous assurer que notre site web est facile à utiliser, rapide et fiable. Nous sommes également très attentifs aux détails et aux finitions, car nous savons que ces petits détails font toute la différence pour nos clients.
                                            
                                            Nous sommes passionnés par la qualité de nos produits et le service que nous offrons à nos clients. Nous travaillons en étroite collaboration pour créer une boutique en ligne élégante et axée sur la satisfaction du client. Nous offrons une livraison rapide et des retours faciles, afin que vous puissiez acheter en toute confiance.
                                            
                                            En somme, nous sommes une équipe engagée à offrir une expérience de shopping en ligne unique, où la mode et la technologie se rencontrent pour vous offrir le meilleur service possible. Venez découvrir notre boutique en ligne dès maintenant pour trouver le produit parfait pour vous !</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Faq Section End -->
    
    {% endblock content %}