{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock title %}
{% block content %}
<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="{% url 'index.html' %}"><i class="fa fa-home"></i> Home</a>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Categories</h4>
                    <ul class="filter-catagories">
                        {% for categorie in categories %}
                        <li><a href="?categorie={{ categorie.name }}">{{ categorie.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="filter-widget">
                    <h4 class="fw-title">Brand</h4>
                    {% for brand in brands %}
                    <div class="fw-brand-check">
                        <div class="bc-item">
                            <label for="bc-{{ brand.id }}">
                                {{ brand.name }}
                                <input type="checkbox" id="bc-{{ brand.id }}" name="brand" value="{{ brand.name }}">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="filter-widget">
                    <h4 class="fw-title">Color</h4>
                    <div class="fw-color-choose">
                        {% for color in colors %}
                        <div class="cs-item">
                            <input type="radio" id="cs-{{ color.id }}" name="color" value="{{ color.name }}">
                            <label class="cs-{{ color.name }}" for="cs-{{ color.id }}">{{ color.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <br><br><br><br><br><br>

                <div class="filter-widget">
                    <h4 class="fw-title">Tags</h4>
                    {% for tag in tags %}
                    <div class="fw-tags">
                        <a href="?tag={{ tag.name }}">{{ tag.name }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="select-option">
                                <select class="sorting">
                                    <option value="">Default Sorting</option>
                                </select>
                                <select class="p-show">
                                    <option value="">Show:</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 text-right">
                            <p>Show 0- {{ products|length }} Of {{ products|length }} Products</p>
                        </div>
                    </div>
                </div>
                
                <div class="product-list">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-lg-4 col-sm-6">
                            <p style="text-align:center;color:black;background:orange;">Stock: {{ product.stock }}</p>
                            <p style="text-align:center;color:black">
                                {% for c in product.tag.all %}
                                {{ c.name }}
                                {% endfor%}
                            </p>
                            <div class="product-item">
                                <div class="pi-pic">
                                    <a href="{% url 'product.html' product.id %}">
                                        <img src="{{ product.image.url }}" alt="">
                                    </a>
                                    <div class="sale pp-sale">
                                        {% for c in product.statut.all %}
                                        {{ c.name }}
                                        {% endfor%}
                                    </div>
                                    <div class="icon">
                                        <i class="icon_heart_alt"></i>
                                    </div>
                                    <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                        <li class="quick-view">
                                            <a href="{% url 'product.html' product.id %}">+ Quick View
                                                {% for item in cartItems %}
                                                <p>{{ item.product.name }} - {{ item.quantity }}</p>
                                                {% endfor %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pi-text">
                                    <div class="catagory-name">
                                        {% for c in product.categorie.all %}
                                        {{ c.name }}
                                        {% endfor%}

                                    </div>
                                    <a href="{% url 'product.html' product.id %}">
                                        <h5>{{ product.nom }}</h5>
                                    </a>
                                    <div class="product-price">
                                        {{ product.price }}$
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="loading-more">
                    <i class="icon_loading"></i>
                    {% if products.has_previous %}
                        <a href="?page=1">First</a>
                        <a href="?page={{ products.previous_page_number }}">Previous</a>
                    {% endif %}
                    
                    <span>Page {{ products.number }} of {{ products.paginator.num_pages }}</span>
                    
                    {% if products.has_next %}
                        <a href="?page={{ products.next_page_number }}">Next</a>
                        <a href="?page={{ products.paginator.num_pages }}">Last</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Shop Section End -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filterItems = document.querySelectorAll('.filter-widget input[type="checkbox"], .filter-widget input[type="radio"]');
        
        filterItems.forEach(item => {
            item.addEventListener('change', function () {
                let params = [];
                filterItems.forEach(item => {
                    if (item.checked) {
                        params.push(`${item.name}=${item.value}`);
                    }
                });
                const queryString = params.join('&');
                const url = window.location.href.split('?')[0];
                const newUrl = url + (queryString ? `?${queryString}` : '');
                window.location.href = newUrl;
            });
        });
    });
</script>
{% endblock content %}
